<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>A propos</title>
</head>

<body>
    <div style="width: 50%; margin:auto">
        <%- include('components/nav.ejs')%>
            <section>
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quaerat alias exercitationem nulla corporis
                quisquam cumque amet. Exercitationem vero eum pariatur, accusantium eius deserunt in id incidunt
                reiciendis,
                <br>
                <img src="/img.png" alt="Geek Dev Forever !">
                ut nobis laudantium. Aliquid, maxime ipsa hic quia obcaecati assumenda nesciunt corrupti id, harum iusto
                fuga ad, voluptatum veniam! Aperiam voluptates quisquam dolorem enim minima, labore exercitationem est
                incidunt repellendus, fuga nulla nesciunt hic quod ratione ut beatae earum, dolorum soluta omnis neque
                voluptatibus? Error, ducimus doloremque debitis nulla est, rem laudantium soluta minima, iusto doloribus
                hic
                expedita cumque. Exercitationem expedita dolor officia. Laudantium totam, voluptatem minus debitis nisi
                aliquid maiores natus quaerat.
                <img src="/09.jpg" alt="A. Pélé  - The King Forever !">
            </section>

    </div>
</body>

</html>